h1 {
  margin-top: 10px;
  font-family: arcade, sans-serif;
}

.navbar {
  color: white;
  background-color: white !important;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: black;
}
