/*rien*/

.gameOver {
    z-index: 10;
    position: fixed;
    top: 40%;
    left: 35%;
}

.content {
    position: absolute;
    width: 100%;
    top: 55vh;
    display: flex;
    justify-content: space-around;
}

.interface {
    display: flex;
    align-items: stretch;
    background-image: url("../../../img/gifBattle.gif");
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.game {
    flex-grow: 10;
}

.history {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 10vh;
    left: 30vw;
    height: 20vh;
    width: 40vw;
    overflow-x: hidden;
    overflow-y: visible;
    font-size: 30px;
    font-family: batmfa, sans-serif;
}

#historyMask {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 10vh;
    left: 30vw;
    height: 13vh;
    width: 39vw;
}

.wait {
    background-image: url("../../../img/joker.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.textWait {
    display: block;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: batmfa, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
    border: 1px solid silver;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
}

.matchMaking {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: batmfa, sans-serif;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

#btnPaper {
    background-image: url("../../../img/batPaper.png");
}

#btnscissors {
    background-image: url("../../../img/batScissors.png");
}

#btnStone {
    background-image: url("../../../img/batStone.png");
}

#btnPaper:hover,
#btnscissors:hover,
#btnStone:hover {
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}

@-webkit-keyframes example {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes example {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btnAttack {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
    background-color: rgba(255, 255, 255, 0.15);
    border: 3px solid goldenrod;
    border-radius: 100%;
    height: 200px;
    width: 300px;
    cursor: pointer;
}

#yourTurn {
    position: fixed;
    z-index: 2;
    top: 40vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: arcade, sans-serif;
    color: white;
    font-weight: bold;
}

.infosPlayers {
    width: 30%;
}