<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>

  <app-home></app-home>
  <app-connect></app-connect>

</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
  </div>
  <!-- ici doit venir le app du jeu -->
  <p>GAME PAGE</p>
  <p>
    {{message}}
  </p>

  <!-- <ul>
    <li class="text" *ngFor="let item of choice | async">
      {{item.symboles}}
    </li>
  </ul> -->
</ng-template>
