<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>

  <app-home></app-home>
  <app-connect></app-connect>

</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">

  </div>

  <div *ngIf="room && room.players.length > 1">
    game ready


    <div *ngIf="isMyTurn(); else elseBlock">
      c'est mon tour
      <button type="button" (click)="pierre()">Pierre</button>
      <button type="button" (click)="feuille()">Feuille</button>
      <button type="button" (click)="ciseaux()">Ciseaux</button>
    </div>
    <ng-template #elseBlock>
      c'est pas ton tour
    </ng-template>

  </div>

  <p>GAME PAGE</p>

  <p>
    {{message}}
  </p>

  <div *ngFor="let item of this.room.matchLog">{{item}}</div>

</ng-template>
