/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: arcade;
  src: url("../fonts/batmfo.ttf");
}

@font-face {
  font-family: game;
  src: url("../fonts/metalGearSolid/metag.ttf");
}

@font-face {
  font-family: batmfa;
  src: url("../fonts/batmfa.ttf");
}
