<div class="flexPage">
  <div ng-init='rulesClic' *ngIf='rulesClic == 1; then azerty else qwerty'></div>

  <ng-template #qwerty>
    <button class="ruleBtn" type="button" (click)='rulesClic = 1'>Rules</button>
  </ng-template>

  <ng-template #azerty>
    <button class="ruleBtn" type="button" (click)='rulesClic = 0'>Close</button>
    <p class="rules">The BAT paper beats the BAT stone
      <br> The BAT stone beats the BAT scissors
      <br> The BAT scissors beats the BAT paper</p>
  </ng-template>

  <button class="playGame" routerLink="/match-making">play the Bat game</button>
</div>
