.flexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
  background-image: url("../../../img/batfond.png");
  background-position: center;
  background-size: cover;
}

.playGame {
  font-family: arcade, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../img/batmanLogo.png");
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 500px;
  border: none;
  font-size: 20px;
  padding: 5px 5px 50px 5px;
  cursor: pointer;
  animation-name: playAnime;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
}

@keyframes playAnime {
  0% {
    background-image: url("../../../img/batmanLogoWhite.png");
    font-family: batmfa, sans-serif;
    color: black;
  }
  80% {
    background-image: url("../../../img/batmanLogo.png");
    color: white;
  }
  100% {
    background-image: url("../../../img/batmanLogoWhite.png");
    font-family: batmfa, sans-serif;
    color: black;
  }
}

.ruleBtn {
  width: 100px;
  height: 50px;
  background-color: black;
  border: none;
  box-shadow: 0 0 2px white;
  color: white;
  font-family: batmfa, sans-serif;
}

.ruleBtn:hover {
  font-family: batmfa, sans-serif;
  color: black;
  background-color: white;
}

.rules {
  font-family: batmfa, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
